{% extends "base_layouts/homepage_base.njk" %}
{% import "macros/content.njk" as c %}

{% block banner_icon %}
    {{ c.bs_banner(top_page.bs_icon) }}
{% endblock %}

{% block content %}
    <div class="container">
        <form class="login-box" method="post">
            <h2>{{ content.question }}</h2>
            <label for="mePassword" class="invisible">{{ content.hint }}</label>
            <input type="password" name="me_password" id="mePassword" class="form-control mb-3"
                   placeholder="{{ content.hint }}" />
            <input type="submit" value="Submit" class="btn btn-primary btn-block" />
        </form>
    </div>

    <hr class="mb-4"/>
{% endblock %}
