{% extends "base_layouts/homepage_base.njk" %}

{% import "macros/content.njk" as c %}

{% block banner_icon %}
    {{ c.bs_banner(top_page.bs_icon) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="p-5 mb-4 bg-light-darker">
                    <h2>Current time</h2>
                    <p>{{ content.time | date("Do MMMM YYYY, h:mm:ss a") }}</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5 mb-4 bg-light-darker">
                    <h2>Website version</h2>
                    <p>{{ metadata.version }}</p>
                </div>
            </div>
        </div>
    </div>

    <hr class="mb-4" />
{% endblock %}
