{% macro contact_option(name, bs_icon, locator) %}
    <a href="{{ locator }}" class="hidden-light-link">
        <div class="rounded-circle mx-auto img-thumbnail icon-host row bg-dark-darker">
            <svg class="bi mx-auto my-auto" width="7em" height="7em" fill="#dee2e6">
                <use xlink:href="/assets/images/bootstrap-icons.svg#{{ bs_icon }}" />
            </svg>
        </div>
    </a>
    <h3 class="text-center">{{ name }}</h3>
{% endmacro %}

{% macro bs_banner(bs_icon) %}
    <div class="img-thumbnail rounded-circle icon-host mx-auto row text-dark">
        <svg class="bi mx-auto my-auto" width="7em" height="7em" fill="#212529">
            <use xlink:href="/assets/images/bootstrap-icons.svg#{{ bs_icon }}" />
        </svg>
    </div>
{% endmacro %}

{% macro img_banner(img_location, img_alt) %}
    <img src="{{ img_location }}" class="rounded-circle img-thumbnail icon-host"
         alt="{{ img_alt }}" />
{% endmacro %}

{% macro cover_banner(img_location, img_alt) %}
    <img src="{{ img_location }}" class="img-thumbnail icon-host-width"
         alt="{{ img_alt }}" />
{% endmacro %}

{% macro search_contents(search_name, search_url_base, search_items, search_title) %}
    <div class="">
        <h3>{{ search_name }}</h3>
    </div>
    {% for item in search_items %}
        <div class="search-item row">
            <div class="col-lg-12">
                <h4><a href="{{ search_url_base }}/{{ item._id }}" >{{ search_title(item) }}</a></h4>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Sorry, but your search returned nothing.
                </p>
            </div>
        </div>
    {% endfor %}
{% endmacro %}
