{% import "macros/navigation.njk" as m %}

<nav class="navbar navbar-expand-md navbar-default navbar-dark bg-dark-darker navbar-lower" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="/hobbies">Hobbies list</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#hobbiesNavbar"
                aria-controls="hobbiesNavbar" aria-expanded="false" aria-label="Toggle hobbies navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="hobbiesNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {{ m.page_test("art", head.current_sub_page, "active") }}" href="/hobbies/art">Art</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ m.page_test("writing", head.current_sub_page, "active") }}" href="/hobbies/writing">Writing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ m.page_test("anime", head.current_sub_page, "active") }}" href="/hobbies/anime">Anime</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ m.page_test("manga", head.current_sub_page, "active") }}" href="/hobbies/manga">Manga</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ m.page_test("me", head.current_sub_page, "active") }}" href="/hobbies/me">Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
